/* created main color theme to use throughout sheet */
:root {
  --dark-green: #006400;
  --silver: #c0c5c1;
  --office-green: #008000;
  --beige: #eaf0ce;
  --dark-vader: black;
  --light-saber: white;
  --emerald: #50c878;
  --slate-gray: #7d8491;
  --english-violet: #574b60;
  --deep-purple: #3f334d;
  --margin-all-around: 20px;
  --box-shadow: var(--dark-green) 10px 6px 8px 15px;
}

header {
  margin-top: 10px;
}
/* display inline flex with a flex wrap */

figure {
  display: inline-flex;
  flex-wrap: wrap;
}
figure:hover {
  display: inline-block;
}
/* sets background color of page and font size/family and cursor */
body {
  background-color: var(--deep-purple);
  font-size: 20px;
  font-family: fantasy;
  cursor: crosshair;
}

nav {
  display: inline-block;
  scroll-behavior: smooth;
}

li {
  padding: 10px;
  justify-content: space-between;
  justify-content: space-around;
}
/* heading margins and size */
h1.html {
  margin-right: 30px;
  width: 40px;
  height: 40px;
}

h1.name {
  text-align: center;
  color: var(--silver);
  border-style: double;
  border-color: var(--slate-gray);
  border-width: 10px;
  padding: 40px;
  font-size: 30px;
}
/* hover effect when we hover over h1 */
h1:hover {
  transform: scale(2, 1, 1);
  box-shadow: 0 0 8px 10px var(--silver), 0 0 9px 11px var(--deep-purple),
    0 0 10px 15px var(--english-violet);
}
/* h1 styles borders/box-shadows/alignment */
h1 {
  color: var(--silver);
  border-style: double;
  border-color: var(--slate-gray);
  border-width: 10px;
  padding: 40px;
  margin-bottom: 65px;
  box-shadow: 0 0 10px 20px var(--deep-purple),
    0 0 12px 25px var(--english-violet), 0 0 15px 30px var(--silver);
  justify-content: center;
  text-align: center;
  font-size: 30px;
}
/* hover effect when we hover over our <a */
a:hover {
  box-shadow: 0 0 10px 20px var(--silver), 0 0 12px 25px var(--deep-purple),
    0 0 15px 30px var(--slate-gray);
}

aside {
  display: flex;
  justify-content: center;
  float: left;
}
/* class of hover set so wont effect above aside */
aside.img:hover {
  border-style: groove;
  border-width: 10px;
  box-shadow: 0 0 10px 20px var(--deep-purple),
    0 0 12px 25px var(--english-violet), 0 0 15px 30px var(--silver);
}

li.grid {
  display: inline-flex;
  flex-wrap: wrap;
}
/* set class of beauty to custoimize profile image */
img.beauty {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  height: auto;
  border-style: solid;
  border-color: var(--english-violet);
  border-radius: 750px;
  border-width: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  box-shadow: 0 0 10px 20px var(--deep-purple), 0 0 20px 30px var(--silver),
    0 0 30px 40px var(--slate-gray);
}
/* hover effect when we hover over profile photo */
img.beauty:hover {
  box-shadow: 0 0 8px 10px var(--english-violet),
    0 0 9px 11px var(--deep-purple), 0 0 10px 15px var(--slate-gray);
  zoom: 200%;
}
/* hover effect over any img on the page expect those with designated classes */
img:hover {
  border-style: solid;
  border-color: var(--deep-purple);
  box-shadow: 0 0 10px 20px var(--deep-purple) 0 0 20px 30px
      var(--english-violet),
    0 0 30px 40px var(--silver);
  zoom: 130%;
}

/* img styles */
img {
  box-shadow: 0 0 8px 10px var(--english-violet),
    0 0 9px 11px var(--deep-purple), 0 0 10px 15px var(--emerald);
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
}

img.float {
  float: right;
  margin-bottom: 80px;
  margin-left: 1500px;
  box-shadow: var(--english-violet) 5px 4px 8px 7px,
    0 0 10px 20px var(--deep-purple), 0 0 20px 30px var(--slate-gray),
    0 0 30px 40px var(--silver);
}
/* about me paragraph styles */
p.about-me {
  color: var(--silver);
  margin-top: 100px;
  text-align: center;
  font-size: 22px;
  box-shadow: 0 0 10px 20px var(--deep-purple),
    0 0 20px 30px var(--english-violet), 0 0 30px 40px var(--silver);
}
/* hover effect for about me paragraph and scale transition */
p.about-me:hover {
  transform: scale(1.01, 1.05);
  margin: 1;
  box-shadow: 0 0 8px 10px var(--silver), 0 0 9px 11px var(--deep-purple),
    0 0 10px 15px var(--emerald);
}
/* inline display for ul with content class */
ul.content {
  display: inline;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}
/* anchor styles  */
a {
  border-style: groove;
  border-radius: 5px;
  border-color: var(--english-violet);
  color: var(--silver);
  box-shadow: var(--english-violet) 5px 4px 8px 7px,
    0 0 10px 20px var(--deep-purple), 0 0 20px 30px var(--slate-gray),
    0 0 30px 40px var(--silver);
  border-width: 5px;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
  max-width: 100%;
  font-size: 22px;
  margin: 76px;
  height: fit-content;
  cursor: grabbing;
  margin-bottom: 125px;
}
/* footer styles with hover effect  */
footer.foot:hover {
  color: var(--silver);
  text-align: center;
  box-shadow: var(--silver) 5px 4px 8px 7px, 0 0 10px 20px var(--deep-purple),
    0 0 20px 30px var(--english-violet), 0 0 30px 40px var(--slate-gray);
  border-width: 5px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}
