/* created main color theme to use throughout sheet */
:root {
  --dark-green: #006400;
  --silver: #c0c5c1;
  --beige: #eaf0ce;
  --dark-vader: black;
  --light-saber: white;
  --emerald: #50c878;
  --slate-gray: #7d8491;
  --english-violet: #574b60;
  --deep-purple: #3f334d;
}

/* sets background color of page and font size/family and cursor */
body {
  background-color: var(--dark-vader);
  font-size: 20px;
  font-family: fantasy;
  cursor: crosshair;
}

nav {
  text-align: center;
}

section {
  margin-bottom: 70px;
  text-align: center;
}

/* heading margins and size */
h1.html {
  margin-right: 30px;
  width: 40px;
  height: 40px;
}

h1.name {
  text-align: center;
  color: var(--silver);
  border-style: double;
  border-color: var(--slate-gray);
  border-width: 10px;
  padding: 40px;
  font-size: 30px;
}
/* hover effect when we hover over h1 */
h1:hover {
  transform: scale(2, 1, 1);
  box-shadow: 0 0 8px 10px var(--silver), 0 0 9px 11px var(--deep-purple),
    0 0 10px 15px var(--english-violet);
}
/* h1 styles borders/box-shadows/alignment */
h1 {
  color: var(--silver);
  border-style: double;
  border-color: var(--slate-gray);
  border-width: 10px;
  padding: 40px;
  margin-bottom: 65px;
  margin-top: 40px;
  box-shadow: 0 0 10px 20px var(--deep-purple),
    0 0 12px 25px var(--english-violet), 0 0 15px 30px var(--silver);
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

h2 {
  color: var(--silver);
  border-style: double;
  border-color: var(--slate-gray);
  border-width: 10px;
  padding: 40px;
  margin-bottom: 65px;
  margin-top: 115px;
  box-shadow: 0 0 10px 20px var(--deep-purple),
    0 0 12px 25px var(--english-violet), 0 0 15px 30px var(--silver);
  justify-content: center;
  text-align: center;
}
/* hover effect when we hover over our <a */
a:hover {
  box-shadow: 0 0 10px 20px var(--silver), 0 0 12px 25px var(--deep-purple),
    0 0 15px 30px var(--slate-gray);
}

/* set class of beauty to custoimize profile image */
img.beauty {
  display: inherit;
  border-style: solid;
  border-color: var(--english-violet);
  border-width: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  box-shadow: 0 0 10px 20px var(--deep-purple), 0 0 20px 30px var(--silver),
    0 0 30px 40px var(--slate-gray);
  margin-bottom: 40px;
}
/* hover effect when we hover over profile photo */
img.beauty:hover {
  box-shadow: 0 0 8px 10px var(--english-violet),
    0 0 9px 11px var(--deep-purple), 0 0 10px 15px var(--slate-gray);
  zoom: 200%;
}
/* hover effect over any img on the page expect those with designated classes */
img:hover {
  border-style: solid;
  border-color: var(--deep-purple);
  box-shadow: var(--english-violet) 5px 4px 8px 7px,
    0 0 10px 20px var(--deep-purple), 0 0 20px 30px var(--slate-gray),
    0 0 30px 40px var(--silver);
  zoom: 115%;
}
/* img styles */
img {
  box-shadow: 0 0 10px 20px var(--deep-purple), 0 0 20px 30px var(--silver),
    0 0 30px 40px var(--slate-gray);

  max-width: 105px;
  height: 105px;
  display: inline-flex;
  flex-wrap: wrap;
}

img.float {
  box-shadow: 0 0 10px 20px var(--deep-purple), 0 0 20px 30px var(--silver),
    0 0 30px 40px var(--slate-gray);
  max-width: 150px;
  height: 150px;
  float: right;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
}

/* about me paragraph styles */
p {
  color: var(--silver);
  font-size: 22px;
  padding: 60px;
  text-align: center;
}

/* anchor styles  */
a {
  color: var(--silver);
  box-shadow: var(--english-violet) 5px 4px 8px 7px,
    0 0 10px 20px var(--deep-purple), 0 0 20px 30px var(--slate-gray),
    0 0 30px 40px var(--silver);
  border-width: 5px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 76px;
  cursor: grabbing;
}

a::after {
  content: "👀";
}

footer {
  color: var(--silver);
  text-align: center;
  border-width: 5px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}
